Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdunkerley, @AdRiley, @hubertp, @Frizi, @jaroslavtulach, @farmaazon, @PabloBuchu, @wdanilo, @vitvakatu, @kazcw, @Akirathan, @4e6, @radeusgd, @GregoryTravis, @marthasharkey, @indiv0, @somebody1234, @MrFlashAccount

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @jdunkerley  @AdRiley @hubertp @Frizi
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @jdunkerley  @AdRiley @hubertp @Frizi
/run.bat @jdunkerley  @AdRiley @hubertp @Frizi
/build @jdunkerley  @AdRiley @hubertp @Frizi

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @Frizi @kazcw @farmaazon @AdRiley
rustfmt.toml @farmaazon @vitvakatu @Frizi @kazcw @AdRiley
Cargo.lock
Cargo.toml
/lib/rust/ @farmaazon @kazcw @vitvakatu @Frizi @AdRiley
/lib/rust/parser/ @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach @AdRiley
/tools/build-performance/ @kazcw @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui2/ @Frizi @farmaazon @vitvakatu @kazcw @AdRiley

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd @hubertp

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount
# The data-link schema is owned by the libraries team
/app/ide-desktop/lib/dashboard/src/data/datalinkSchema.json @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey
/app/ide-desktop/lib/dashboard/src/data/__tests__ @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey @PabloBuchu @indiv0 @somebody1234

# GUI / Dashboard shared
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount @Frizi @farmaazon @vitvakatu @kazcw @AdRiley

chore(flake.nix): Add missing macOS-specific dependencies of `enso-formatter`
  flake.nix
Owners: none

Everything is fine now, it seems.
  app/gui/src/project-view/components/GraphEditor/NodeWidget.vue
  app/gui/src/project-view/components/GraphEditor/NodeWidgetTree.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/tableNewArgument.ts
  app/gui/src/project-view/providers/widgetRegistry.ts
  app/gui/src/project-view/stores/graph/index.ts
  app/ydoc-server/src/edits.ts
  app/ydoc-server/src/fileFormat.ts
  app/ydoc-server/src/languageServerSession.ts
  app/ydoc-shared/src/ast/mutableModule.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: none

Missing docs
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
  app/gui/src/project-view/providers/widgetRegistry.ts
  app/ydoc-server/src/languageServerSession.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: none

Add undo/redo buttons to the top bar
  app/gui/src/project-view/components/ControlButtons.vue
  app/gui/src/project-view/components/TopBar.vue
  app/gui/src/project-view/components/UndoRedoButtons.vue
  app/gui/src/project-view/stores/graph/index.ts
  app/gui/src/project-view/util/data/observable.ts
Owners: none

Improve pretty for `Date_Time` and `Time_Of_Day`. Add widgets for `Date` and `Time_Of_Day`.
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Time_Of_Day.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Improve recovery of widget when a parameter panics.
  distribution/lib/Standard/Visualization/0.0.0-dev/src/Widgets.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

update changelog
  CHANGELOG.md
Owners: none

Address review
  app/gui/src/project-view/components/ComponentDocumentation.vue
  app/gui/src/project-view/components/DocumentationPanel.vue
Owners: none

Fix Date_Time.
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Time/Date_Time.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Add pretty, text and js_object to `Enso_Secret`.
  distribution/lib/Standard/Base/0.0.0-dev/src/Enso_Cloud/Enso_File.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Enso_Cloud/Enso_Secret.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Cache onProblems parameter
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/VectorFromFunctionNode.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

CHANGELOG
  CHANGELOG.md
Owners: none

Address review
  app/gui/src/project-view/components/UndoRedoButtons.vue
Owners: none

Fix pretty on Enso_Secret and HTTP to use `_` for the private methods.
  distribution/lib/Standard/Base/0.0.0-dev/src/Enso_Cloud/Enso_Secret.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey
