Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radeusgd, @4e6, @wdanilo, @mwu-tow, @farmaazon, @MichaelMauderer

Execute Base_Internal_Tests with native enso executable
  build/build/src/engine/context.rs
  test/Base_Internal_Tests/src/Input_Output_Spec.enso
Owners: @wdanilo, @radeusgd, @4e6

Avoid needless references to constants in JVM
  test/Table_Tests/src/In_Memory/Integer_Overflow_Spec.enso
Owners: @radeusgd, @4e6

Hint buildNativeImage access to HeaderBehavior is needed
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Delimited_Reader.enso
Owners: @radeusgd, @4e6

cargo fmt --all
  build/build/src/engine/context.rs
Owners: @wdanilo

typos
  distribution/lib/Standard/Database/0.0.0-dev/src/Dialect.enso
Owners: @radeusgd, @4e6

Add comment
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
Owners: @radeusgd, @4e6

Fix types
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/TableHeader.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/tableNewArgument.ts
Owners: @radeusgd, @4e6

MetaObjectTest.compareQualifiedAndSimpleTypeName skips singleton types
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @radeusgd, @4e6

Fix linting
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
Owners: @radeusgd, @4e6

singleton builtin types are skipped in other tests as well
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
Owners: @radeusgd, @4e6

Fix flaky test
  app/gui/e2e/project-view/rightPanel.spec.ts
  app/gui/src/project-view/providers/tooltipState.ts
Owners: @radeusgd, @4e6

Add instances of Problem_Behavior to meta tests
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @radeusgd, @4e6

Add React compiler eslint rules and fix issues across reusable components
  app/gui/src/dashboard/components/AriaComponents/Alert/Alert.tsx
  app/gui/src/dashboard/components/AriaComponents/Button/Button.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/Checkbox.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/CheckboxGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Dialog/Popover.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/FormProvider.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/OTPInput/OTPInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/Radio.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/RadioGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Switch/Switch.tsx
  app/gui/src/dashboard/components/AriaComponents/Text/Text.tsx
  app/gui/src/dashboard/components/Portal/Portal.tsx
  app/gui/src/dashboard/components/Portal/usePortal.ts
  app/gui/src/dashboard/hooks/eventCallbackHooks.ts
  app/gui/src/dashboard/hooks/mountHooks.ts
  app/gui/src/dashboard/hooks/syncRefHooks.ts
  app/gui/src/dashboard/hooks/useLazyMemoHooks.ts
  app/gui/src/dashboard/layouts/AssetDiffView/AssetDiffView.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Owners: @radeusgd, @4e6

WidgetMetadata in AST.
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/tableNewArgument.ts
  app/gui/src/project-view/providers/widgetRegistry.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: @radeusgd, @4e6

Address review comments & implement 'Toggle help' button
  app/gui/e2e/project-view/componentBrowser.spec.ts
  app/gui/src/project-view/components/CircularMenu.vue
  app/gui/src/project-view/components/ColorRing.vue
  app/gui/src/project-view/components/GraphEditor.vue
  app/gui/src/project-view/components/GraphEditor/GraphNode.vue
  app/gui/src/project-view/components/GraphEditor/GraphNodes.vue
Owners: @radeusgd, @4e6

No_Wrap and Problem_Behavior are builtins in EnsoContext
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/VectorFromFunctionNode.java
Owners: @radeusgd, @4e6

Fix compiler errors
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/hooks/mountHooks.ts
Owners: @radeusgd, @4e6

add docs
  app/gui/src/project-view/components/DocumentationPanel/history.ts
Owners: @radeusgd, @4e6

Everything is wrong
  app/gui/src/project-view/components/GraphEditor/NodeWidget.vue
  app/gui/src/project-view/components/GraphEditor/NodeWidgetTree.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui/src/project-view/stores/graph/index.ts
  app/gui/src/project-view/util/ast/reactive.ts
  app/ydoc-server/src/fileFormat.ts
  app/ydoc-server/src/languageServerSession.ts
  app/ydoc-shared/src/ast/mutableModule.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: @radeusgd, @4e6

Remove fail-on-warnings for eslint
  app/gui/package.json
Owners: @mwu-tow, @farmaazon

type error panic is hidden behind TruffleBoundary
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/VectorFromFunctionNode.java
Owners: @radeusgd, @4e6

fix s3_spec
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
Owners: @radeusgd, @4e6

cleanup
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
Owners: @radeusgd, @4e6

feat: reload insight script
  engine/common/src/main/java/org/enso/common/ContextInsightSetup.java
Owners: @radeusgd, @4e6

add teardown
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @radeusgd, @4e6

Removing useless GraphOccurrence.Global
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/PassPersistance.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/GraphOccurrence.scala
Owners: @radeusgd, @4e6

Encapsulation. private[analyse] elements are used from tests
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/GraphOccurrence.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/pass/analyse/test/AliasAnalysisTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/pass/analyse/test/FramePointerAnalysisTest.scala
Owners: @radeusgd, @4e6

Infrastructure for signed AWS requests.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @radeusgd, @4e6

Remove debugging log statements. Fix URI display.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @radeusgd, @4e6

Excel Date/DateTime overhaul
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @radeusgd, @4e6

Code quality
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @radeusgd, @4e6

Fixes for pre 1900.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @radeusgd, @4e6

Some PR fixes.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @radeusgd, @4e6

Java format.
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @radeusgd, @4e6

Fix Excel Date vs DateTime logic.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
Owners: @radeusgd, @4e6

Java format.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @radeusgd, @4e6

Pointless branch.
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @radeusgd, @4e6

Failing tests.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @radeusgd, @4e6

First few PR fixes.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @radeusgd, @4e6

Changelog.
  CHANGELOG.md
Owners: @radeusgd, @4e6

.github/CODEOWNERS:

# Catch All
* @radeusgd @4e6

# IDE build scripts
/run @wdanilo
/build/ @wdanilo

# Rust Libraries
/lib/rust/* @wdanilo @radeusgd @4e6
/lib/rust/ensogl/ @wdanilo

# Repo Configuration
/.github/settings.yml @4e6 @radeusgd

# GUI
/app/gui/* @mwu-tow @farmaazon
/app/gui/view/ @wdanilo @farmaazon @MichaelMauderer
