Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234

Execute Base_Internal_Tests with native enso executable
  build/build/src/engine/context.rs
  test/Base_Internal_Tests/src/Input_Output_Spec.enso
Owners: @mwu-tow, @jdunkerley, @radeusgd, @GregoryTravis

Avoid needless references to constants in JVM
  test/Table_Tests/src/In_Memory/Integer_Overflow_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Hint buildNativeImage access to HeaderBehavior is needed
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Delimited_Reader.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

cargo fmt --all
  build/build/src/engine/context.rs
Owners: @mwu-tow

typos
  distribution/lib/Standard/Database/0.0.0-dev/src/Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Add comment
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix types
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/TableHeader.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/tableNewArgument.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

MetaObjectTest.compareQualifiedAndSimpleTypeName skips singleton types
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix linting
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

singleton builtin types are skipped in other tests as well
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaObjectTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix flaky test
  app/gui/e2e/project-view/rightPanel.spec.ts
  app/gui/src/project-view/providers/tooltipState.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add instances of Problem_Behavior to meta tests
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/ValuesGenerator.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add React compiler eslint rules and fix issues across reusable components
  app/gui/src/dashboard/components/AriaComponents/Alert/Alert.tsx
  app/gui/src/dashboard/components/AriaComponents/Button/Button.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/Checkbox.tsx
  app/gui/src/dashboard/components/AriaComponents/Checkbox/CheckboxGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Dialog/Popover.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/FormProvider.tsx
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/components/AriaComponents/Inputs/Dropdown/Dropdown.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/Input/Input.tsx
  app/gui/src/dashboard/components/AriaComponents/Inputs/OTPInput/OTPInput.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/Radio.tsx
  app/gui/src/dashboard/components/AriaComponents/Radio/RadioGroup.tsx
  app/gui/src/dashboard/components/AriaComponents/Switch/Switch.tsx
  app/gui/src/dashboard/components/AriaComponents/Text/Text.tsx
  app/gui/src/dashboard/components/Portal/Portal.tsx
  app/gui/src/dashboard/components/Portal/usePortal.ts
  app/gui/src/dashboard/hooks/eventCallbackHooks.ts
  app/gui/src/dashboard/hooks/mountHooks.ts
  app/gui/src/dashboard/hooks/syncRefHooks.ts
  app/gui/src/dashboard/hooks/useLazyMemoHooks.ts
  app/gui/src/dashboard/layouts/AssetDiffView/AssetDiffView.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

WidgetMetadata in AST.
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetTableEditor/tableNewArgument.ts
  app/gui/src/project-view/providers/widgetRegistry.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Address review comments & implement 'Toggle help' button
  app/gui/e2e/project-view/componentBrowser.spec.ts
  app/gui/src/project-view/components/CircularMenu.vue
  app/gui/src/project-view/components/ColorRing.vue
  app/gui/src/project-view/components/GraphEditor.vue
  app/gui/src/project-view/components/GraphEditor/GraphNode.vue
  app/gui/src/project-view/components/GraphEditor/GraphNodes.vue
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

No_Wrap and Problem_Behavior are builtins in EnsoContext
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/VectorFromFunctionNode.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix compiler errors
  app/gui/src/dashboard/components/AriaComponents/Form/components/useForm.ts
  app/gui/src/dashboard/hooks/mountHooks.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

add docs
  app/gui/src/project-view/components/DocumentationPanel/history.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Everything is wrong
  app/gui/src/project-view/components/GraphEditor/NodeWidget.vue
  app/gui/src/project-view/components/GraphEditor/NodeWidgetTree.vue
  app/gui/src/project-view/components/GraphEditor/widgets/WidgetFunction.vue
  app/gui/src/project-view/stores/graph/index.ts
  app/gui/src/project-view/util/ast/reactive.ts
  app/ydoc-server/src/fileFormat.ts
  app/ydoc-server/src/languageServerSession.ts
  app/ydoc-shared/src/ast/mutableModule.ts
  app/ydoc-shared/src/ast/tree.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Remove fail-on-warnings for eslint
  app/gui/package.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

type error panic is hidden behind TruffleBoundary
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/vector/VectorFromFunctionNode.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix s3_spec
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

cleanup
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

feat: reload insight script
  engine/common/src/main/java/org/enso/common/ContextInsightSetup.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

add teardown
  test/Table_Tests/src/Database/SQLite_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Removing useless GraphOccurrence.Global
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/PassPersistance.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/GraphOccurrence.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Encapsulation. private[analyse] elements are used from tests
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/GraphOccurrence.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/pass/analyse/test/AliasAnalysisTest.scala
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/pass/analyse/test/FramePointerAnalysisTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Infrastructure for signed AWS requests.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Errors.enso
  distribution/lib/Standard/AWS/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Remove debugging log statements. Fix URI display.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Data.enso
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Excel Date/DateTime overhaul
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Code quality
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fixes for pre 1900.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Some PR fixes.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Java format.
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix Excel Date vs DateTime logic.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Java format.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Pointless branch.
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Failing tests.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

First few PR fixes.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP/Header.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Changelog.
  CHANGELOG.md
Owners: none
