Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdunkerley, @AdRiley, @hubertp, @Frizi, @jaroslavtulach, @farmaazon, @PabloBuchu, @wdanilo, @vitvakatu, @kazcw, @Akirathan, @4e6, @radeusgd, @GregoryTravis, @marthasharkey, @indiv0, @somebody1234, @MrFlashAccount

Java format.
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Fix documentation panel
  app/gui/src/project-view/components/ComponentDocumentation.vue
  app/gui/src/project-view/components/DocumentationPanel.vue
  app/gui/src/project-view/components/GraphEditor.vue
Owners: none

Excel tests and fix.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
  test/Table_Tests/data/OlderDates.xlsx
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Set max-warnings to 41 to match the amount of warnings introduced by react-compiler
  app/gui/package.json
Owners: none

Add comment for lint task
  app/gui/package.json
Owners: none

Doc comments for signed post and fetch.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Batch refetches for different `listDirectory` queries
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: none

open enso devtools on call of toggleDevtools()
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtools.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
  app/gui/src/dashboard/components/Devtools/ReactQueryDevtools.tsx
  app/gui/src/dashboard/index.tsx
Owners: none

Display devtools in devmode
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
Owners: none

Fix compiler errors
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
Owners: none

Apply compiler
  app/gui/package.json
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
  app/gui/vite.config.ts
  pnpm-lock.yaml
Owners: none

Return vue devtools
  app/gui/vite.config.ts
Owners: none

Make SignedHttpClient internal.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Replace special characters while uploading a file
  app/common/src/services/Backend.ts
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: none

from_excel extension for Date and Date_Time
  distribution/lib/Standard/Table/0.0.0-dev/src/Extensions/Excel_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Stack_Size_Spec runs only on LInux
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Fix native image run tests - add java.lang.RuntimeException to NI
  distribution/lib/Standard/Base/0.0.0-dev/src/Internal/Extra_Imports.enso
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

PR comments. Hashing of MultipartBodyBuilder.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Skip singleton builtin types in MetaIsATest
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaIsATest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Private method.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Java format again.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

What if we make InlineContext closable?
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerErrorBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResource.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResourceFactory.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineSource.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/context/InlineContext.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix error.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Use the built variable.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

feat: detect line removed
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/ChangesetBuilder.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

add an assert documenting that `DB_Column.round_integer` does not really work with `decimal_places > 0`. See if that's enough.
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Column.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

fix 2 wrong constructors
  distribution/lib/Standard/Image/0.0.0-dev/src/Matrix.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Multi_Value_Key.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

avoid warning by casting to Any - the error is expected here
  distribution/lib/Standard/Examples/0.0.0-dev/src/Main.enso
  test/Examples_Tests/src/Examples_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Improve error msg
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

TopLevelScope.registerModule determines pkg of the module
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Use only simple module name in IRUtilsTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/refactoring/IRUtilsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Use only simple module name inSuggestionBuilderTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Fix issue with timezone.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Fix access to HTTP internal for test.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Use only simple module name in TypeSignaturesTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/semantic/TypeSignaturesTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix test
  test/Base_Tests/src/Data/Numbers_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley, @marthasharkey

Replace Thread.sleep with Future.get
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/visualization/ModifyVisualizationHandler.scala
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/ExecuteExpressionJob.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/SerializeModuleJob.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleInScopeJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DeserializeLibrarySuggestionsJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualizationJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/Job.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/RefactoringRenameJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/StartBackgroundProcessingJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowEnsureCompiledJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowUpsertVisualizationJob.scala
  lib/scala/logging-utils-akka/src/main/scala/org/enso/logging/utils/akka/ActorLoggingReceive.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Better comments/logs
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @jdunkerley  @AdRiley @hubertp @Frizi
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @jdunkerley  @AdRiley @hubertp @Frizi
/run.bat @jdunkerley  @AdRiley @hubertp @Frizi
/build @jdunkerley  @AdRiley @hubertp @Frizi

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @Frizi @kazcw @farmaazon @AdRiley
rustfmt.toml @farmaazon @vitvakatu @Frizi @kazcw @AdRiley
Cargo.lock
Cargo.toml
/lib/rust/ @farmaazon @kazcw @vitvakatu @Frizi @AdRiley
/lib/rust/parser/ @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach @AdRiley
/tools/build-performance/ @kazcw @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui2/ @Frizi @farmaazon @vitvakatu @kazcw @AdRiley

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd @hubertp

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley @marthasharkey
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount
# The data-link schema is owned by the libraries team
/app/ide-desktop/lib/dashboard/src/data/datalinkSchema.json @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey
/app/ide-desktop/lib/dashboard/src/data/__tests__ @radeusgd @jdunkerley @GregoryTravis @AdRiley @marthasharkey @PabloBuchu @indiv0 @somebody1234

# GUI / Dashboard shared
/app/ide-desktop/lib/common @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount @Frizi @farmaazon @vitvakatu @kazcw @AdRiley
