Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @MichaelMauderer, @farmaazon, @wdanilo, @kazcw, @jaroslavtulach, @Akirathan, @4e6, @hubertp, @jdunkerley, @radeusgd, @GregoryTravis, @PabloBuchu, @indiv0, @somebody1234

Java format.
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix documentation panel
  app/gui/src/project-view/components/ComponentDocumentation.vue
  app/gui/src/project-view/components/DocumentationPanel.vue
  app/gui/src/project-view/components/GraphEditor.vue
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Excel tests and fix.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
  test/Table_Tests/data/OlderDates.xlsx
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Set max-warnings to 41 to match the amount of warnings introduced by react-compiler
  app/gui/package.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Add comment for lint task
  app/gui/package.json
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Doc comments for signed post and fetch.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Batch refetches for different `listDirectory` queries
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

open enso devtools on call of toggleDevtools()
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtools.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
  app/gui/src/dashboard/components/Devtools/ReactQueryDevtools.tsx
  app/gui/src/dashboard/index.tsx
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Display devtools in devmode
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Fix compiler errors
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Apply compiler
  app/gui/package.json
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
  app/gui/vite.config.ts
  pnpm-lock.yaml
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Return vue devtools
  app/gui/vite.config.ts
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

Make SignedHttpClient internal.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Replace special characters while uploading a file
  app/common/src/services/Backend.ts
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: @MichaelMauderer, @wdanilo, @farmaazon, @mwu-tow, @kazcw

from_excel extension for Date and Date_Time
  distribution/lib/Standard/Table/0.0.0-dev/src/Extensions/Excel_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Stack_Size_Spec runs only on LInux
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix native image run tests - add java.lang.RuntimeException to NI
  distribution/lib/Standard/Base/0.0.0-dev/src/Internal/Extra_Imports.enso
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

PR comments. Hashing of MultipartBodyBuilder.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Skip singleton builtin types in MetaIsATest
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaIsATest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Private method.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Java format again.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

What if we make InlineContext closable?
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerErrorBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResource.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResourceFactory.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineSource.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/context/InlineContext.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix error.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Use the built variable.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

feat: detect line removed
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/ChangesetBuilder.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

add an assert documenting that `DB_Column.round_integer` does not really work with `decimal_places > 0`. See if that's enough.
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Column.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

fix 2 wrong constructors
  distribution/lib/Standard/Image/0.0.0-dev/src/Matrix.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Multi_Value_Key.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

avoid warning by casting to Any - the error is expected here
  distribution/lib/Standard/Examples/0.0.0-dev/src/Main.enso
  test/Examples_Tests/src/Examples_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Improve error msg
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

TopLevelScope.registerModule determines pkg of the module
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Use only simple module name in IRUtilsTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/refactoring/IRUtilsTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Use only simple module name inSuggestionBuilderTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix issue with timezone.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Fix access to HTTP internal for test.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Use only simple module name in TypeSignaturesTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/semantic/TypeSignaturesTest.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix test
  test/Base_Tests/src/Data/Numbers_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis

Replace Thread.sleep with Future.get
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/visualization/ModifyVisualizationHandler.scala
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/ExecuteExpressionJob.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/SerializeModuleJob.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleInScopeJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DeserializeLibrarySuggestionsJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualizationJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/Job.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/RefactoringRenameJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/StartBackgroundProcessingJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowEnsureCompiledJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowUpsertVisualizationJob.scala
  lib/scala/logging-utils-akka/src/main/scala/org/enso/logging/utils/akka/ActorLoggingReceive.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Better comments/logs
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @MichaelMauderer @mwu-tow @farmaazon
rustfmt.toml @MichaelMauderer @mwu-tow @farmaazon
Cargo.lock
Cargo.toml
/lib/rust/ @MichaelMauderer @mwu-tow @farmaazon @wdanilo @kazcw
/lib/rust/ensogl/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/lib/rust/parser/ @kazcw @wdanilo @jaroslavtulach
/integration-test/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/tools/build-performance/ @kazcw @mwu-tow @wdanilo @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @MichaelMauderer @wdanilo @farmaazon @mwu-tow @kazcw
/app/gui/view/ @MichaelMauderer @wdanilo @farmaazon @kazcw
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @MichaelMauderer @wdanilo @farmaazon @kazcw @jdunkerley

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/test/ @jdunkerley @radeusgd @GregoryTravis
/tools/ @4e6 @jaroslavtulach @radeusgd

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis
/std-bits/ @jdunkerley @radeusgd @GregoryTravis

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234
