Repository Luna/Luna, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radeusgd, @4e6, @wdanilo, @mwu-tow, @farmaazon, @MichaelMauderer

Java format.
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/table/src/main/java/org/enso/table/write/ExcelWriter.java
Owners: @radeusgd, @4e6

Fix documentation panel
  app/gui/src/project-view/components/ComponentDocumentation.vue
  app/gui/src/project-view/components/DocumentationPanel.vue
  app/gui/src/project-view/components/GraphEditor.vue
Owners: @radeusgd, @4e6

Excel tests and fix.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
  test/Table_Tests/data/OlderDates.xlsx
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @radeusgd, @4e6

Set max-warnings to 41 to match the amount of warnings introduced by react-compiler
  app/gui/package.json
Owners: @mwu-tow, @farmaazon

Add comment for lint task
  app/gui/package.json
Owners: @mwu-tow, @farmaazon

Doc comments for signed post and fetch.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @radeusgd, @4e6

Batch refetches for different `listDirectory` queries
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: @radeusgd, @4e6

open enso devtools on call of toggleDevtools()
  app/gui/src/dashboard/App.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtools.tsx
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
  app/gui/src/dashboard/components/Devtools/ReactQueryDevtools.tsx
  app/gui/src/dashboard/index.tsx
Owners: @radeusgd, @4e6

Display devtools in devmode
  app/gui/src/dashboard/components/Devtools/EnsoDevtoolsProvider.tsx
Owners: @radeusgd, @4e6

Fix compiler errors
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
Owners: @radeusgd, @4e6

Apply compiler
  app/gui/package.json
  app/gui/src/dashboard/components/dashboard/columnHeading/ModifiedColumnHeading.tsx
  app/gui/src/dashboard/components/dashboard/columnHeading/NameColumnHeading.tsx
  app/gui/vite.config.ts
  pnpm-lock.yaml
Owners: @mwu-tow, @farmaazon, @radeusgd, @4e6

Return vue devtools
  app/gui/vite.config.ts
Owners: @mwu-tow, @farmaazon

Make SignedHttpClient internal.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
  std-bits/aws/src/main/java/org/enso/aws/ClientBuilder.java
  std-bits/aws/src/main/java/org/enso/aws/SignedHttpClient.java
Owners: @radeusgd, @4e6

Replace special characters while uploading a file
  app/common/src/services/Backend.ts
  app/gui/src/dashboard/layouts/AssetsTable.tsx
Owners: @radeusgd, @4e6

from_excel extension for Date and Date_Time
  distribution/lib/Standard/Table/0.0.0-dev/src/Extensions/Excel_Extensions.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Main.enso
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @radeusgd, @4e6

Stack_Size_Spec runs only on LInux
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @radeusgd, @4e6

Fix native image run tests - add java.lang.RuntimeException to NI
  distribution/lib/Standard/Base/0.0.0-dev/src/Internal/Extra_Imports.enso
  test/Base_Tests/src/Runtime/Stack_Size_Spec.enso
Owners: @radeusgd, @4e6

PR comments. Hashing of MultipartBodyBuilder.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @radeusgd, @4e6

Skip singleton builtin types in MetaIsATest
  engine/runtime-integration-tests/src/test/java/org/enso/interpreter/test/MetaIsATest.java
Owners: @radeusgd, @4e6

Private method.
  distribution/lib/Standard/AWS/0.0.0-dev/src/AWS.enso
Owners: @radeusgd, @4e6

Java format again.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
  std-bits/base/src/main/java/org/enso/base/net/http/UrlencodedBodyBuilder.java
Owners: @radeusgd, @4e6

What if we make InlineContext closable?
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineCompilerErrorBenchmark.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResource.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineContextResourceFactory.java
  engine/runtime-benchmarks/src/main/java/org/enso/compiler/benchmarks/inline/InlineSource.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/context/InlineContext.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/pass/analyse/alias/graph/Graph.scala
Owners: @radeusgd, @4e6

Fix error.
  std-bits/base/src/main/java/org/enso/base/net/http/MultipartBodyBuilder.java
Owners: @radeusgd, @4e6

Use the built variable.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
Owners: @radeusgd, @4e6

feat: detect line removed
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/ChangesetBuilder.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/compiler/test/context/ChangesetBuilderTest.scala
Owners: @radeusgd, @4e6

add an assert documenting that `DB_Column.round_integer` does not really work with `decimal_places > 0`. See if that's enough.
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Column.enso
Owners: @radeusgd, @4e6

fix 2 wrong constructors
  distribution/lib/Standard/Image/0.0.0-dev/src/Matrix.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Multi_Value_Key.enso
Owners: @radeusgd, @4e6

avoid warning by casting to Any - the error is expected here
  distribution/lib/Standard/Examples/0.0.0-dev/src/Main.enso
  test/Examples_Tests/src/Examples_Spec.enso
Owners: @radeusgd, @4e6

Improve error msg
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
Owners: @radeusgd, @4e6

TopLevelScope.registerModule determines pkg of the module
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
Owners: @radeusgd, @4e6

Use only simple module name in IRUtilsTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/refactoring/IRUtilsTest.scala
Owners: @radeusgd, @4e6

Use only simple module name inSuggestionBuilderTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
Owners: @radeusgd, @4e6

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @radeusgd, @4e6

Fix tests.
  test/Table_Tests/src/IO/Excel_Spec.enso
Owners: @radeusgd, @4e6

Fix issue with timezone.
  std-bits/table/src/main/java/org/enso/table/excel/ExcelRow.java
  std-bits/table/src/main/java/org/enso/table/excel/ExcelUtils.java
Owners: @radeusgd, @4e6

Fix access to HTTP internal for test.
  distribution/lib/Standard/Base/0.0.0-dev/src/Network/HTTP.enso
  test/Base_Tests/src/Network/Http_Spec.enso
Owners: @radeusgd, @4e6

Use only simple module name in TypeSignaturesTest
  engine/runtime-integration-tests/src/test/scala/org/enso/compiler/test/semantic/TypeSignaturesTest.scala
Owners: @radeusgd, @4e6

fix test
  test/Base_Tests/src/Data/Numbers_Spec.enso
Owners: @radeusgd, @4e6

Replace Thread.sleep with Future.get
  engine/language-server/src/main/scala/org/enso/languageserver/requesthandler/visualization/ModifyVisualizationHandler.scala
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/ExecuteExpressionJob.java
  engine/runtime-instrument-common/src/main/java/org/enso/interpreter/instrument/job/SerializeModuleJob.java
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/ReentrantLocking.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleInScopeJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/AnalyzeModuleJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DeserializeLibrarySuggestionsJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/DetachVisualizationJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/EnsureCompiledJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/ExecuteJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/Job.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/RefactoringRenameJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/StartBackgroundProcessingJob.scala
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/job/UpsertVisualizationJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowEnsureCompiledJob.scala
  engine/runtime-instrument-common/src/test/scala/org/enso/interpreter/instrument/job/SlowUpsertVisualizationJob.scala
  lib/scala/logging-utils-akka/src/main/scala/org/enso/logging/utils/akka/ActorLoggingReceive.scala
Owners: @radeusgd, @4e6

Better comments/logs
  engine/runtime-instrument-common/src/main/scala/org/enso/interpreter/instrument/execution/JobExecutionEngine.scala
Owners: @radeusgd, @4e6

.github/CODEOWNERS:

# Catch All
* @radeusgd @4e6

# IDE build scripts
/run @wdanilo
/build/ @wdanilo

# Rust Libraries
/lib/rust/* @wdanilo @radeusgd @4e6
/lib/rust/ensogl/ @wdanilo

# Repo Configuration
/.github/settings.yml @4e6 @radeusgd

# GUI
/app/gui/* @mwu-tow @farmaazon
/app/gui/view/ @wdanilo @farmaazon @MichaelMauderer
